{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

	<div class="alert alert-info">
	<div class="container">
		<div class ='col-6 m-auto bg-white rounded'>
			<h2 class="text-center text-info">Update Patient</h2>	
			{% for msg in messages %}
			<p class="text-success">{{msg}}</p>
			{% endfor %}			
				<form method="POST">
					{% csrf_token %}
					<div class="form-group">
						{{ updatehtml | crispy }}	
					</div>
					<button class="btn btn-success" type="submit">Save Patient</button>
				</form>	
			<br>	
	</div>

	<br>
	<script type="text/javascript">
		
			 //Near checkboxes
	$('.form-check').click(function() {
		$(this).siblings('input:checkbox').prop('checked', false);
	});
	</script>
	</div>

{% endblock content %}

{% comment %} {% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
<body>
<div class="bg-mage"style="background-image: url({% static '/image/bg_3.jpg' %}); background-attachment:fixed;">
      <div class="overlay"></div>
	<div class="container">
		<h2 class="text-center">Result Search</h2>
		<div class="row">
		
			<div class="col-12">
				<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
					<div class="wrapper wrapper--w680">
						<div class="card card-4">
							<div class="card-body">
								{% if formtohtml %} {% for formtohtml in formtohtml %}
								<h2 class="title">Result Search {{formtohtml.name}}</h2>
								
								<div class="row">
									
									<div class="col-md-6">
										<div class="container">
											
										<table class="table-striped"> 
											<table class="table table-hover">
												<thead>
													<tbody>
													<tr>
														<th scope="col">ID</th>
														<th scope="row">{{formtohtml.idnational}}</th>
													</tr>
													<tr>
														<th scope="col">File Number</th>
														<td>{{formtohtml.file_number}}</td>
													</tr>
													<tr>
														<th scope="col">Full Name</th>
														<td>{{formtohtml.name}}</td>
													</tr>
													<tr>
														<th scope="col">Birth Date</th>
														<td>{{formtohtml.birthdate}}</td>
													</tr>
													<tr>
														<th scope="col">Mobile No</th>
														<td>{{formtohtml.mobile_no}}</td>
													</tr>
													<tr>
														<th scope="col">Date</th>
														<td>{{formtohtml.date}}</td>
													</tr>                                
													<tr>
														<th scope="col">Diagnosis</th>
														<td>{{formtohtml.diagnosis}}</td>
													</tr>                                
													<tr>
														<th scope="col">wt</th>
														<td>{{formtohtml.wt}}</td>
													</tr>                                
													<tr>
														<th scope="col">Temp</th>
														<td>{{formtohtml.temp}}</td>
													</tr>                                
													<tr>
														<th scope="col">Treatment</th>
														<td>{{formtohtml.treatment}}</td>
													</tr>                                
													<tr>
														<th scope="col">Next Visit</th>
														<td>{{formtohtml.next_visit_date}}</td>
													</tr>
													<tr>
														<th scope="col">Notes</th>
														<td>{{formtohtml.note}}</td>
													</tr>
													 <tr>
														<th scope="col">Action</th>
														<td><button class="btn btn-success" type="submit">Save Patient</button></td>
													</tr> 
												</tbody>
											</table>
										
										{% endfor %} {% endif %}
										<p> <a href="/add_patient" class='btn btn-info'>Add Patient</a> or .. <a href="/" class='btn btn-info'>Search Patient</a></p>
										</div>
									</div>
									<div class="col-md-6">
										<img src="{% static '/image/drbaby.png' %}" alt="" class="img-fluid gambar-diri">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	</body>
</html>



{% endblock content %} {% endcomment %}
