<style>

footer {
    
    padding: 10px;
    text-align: center;
    margin-top: 20px; /* Add some spacing between the content and the footer */
}
</style>
<footer>
    <div class="bottom section-padding bg-info">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center text-white">
                    <div class="copyright">
                        <p>&copy; 2024 | Made with ♥ by Eng. Mohamed Gamal +966544968675. All rights reserved.</p>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</footer>