{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

	<div class="alert alert-info">
	<div class="container">
		<div class ='col-6 m-auto bg-white rounded'>
			<h2 class="text-center text-info">Add Patient</h2>	
			{% for msg in messages %}
			<p class="text-success">{{msg}}</p>
			{% endfor %}
			<form method="POST">
				{% csrf_token %}
					<div class="form-group">
						{{ formtohtml | crispy }}	
					</div>
					<button class="btn btn-success" type="submit">Register Patient</button>
				</form>	
			<br>	
	</div>

	<br>
	<script type="text/javascript">
		
			 //Near checkboxes
	$('.form-check').click(function() {
		$(this).siblings('input:checkbox').prop('checked', false);
	});
	</script>
	</div>

{% endblock content %}